label, input
{
	padding-right: 50px;
	padding-bottom: 30px;
}

#reponses, #jesaispasquelnomdonner
{
	display: inline-block;	
	vertical-align: top;
}

#jesaispasquelnomdonner
{
	margin-right: 10px;
}

#reponses
{
	margin-left: 200px;
}

#reponses label
{
	width: 50px;
}

#reponses input
{
	width: 100px;
}

#bonneR input
{
	width: auto;
	font-size: 20pt;
	padding-bottom: 0px;
	text-align: center;
}

#jesaispasquelnomdonner label
{
	margin-left: 15px;
	width: 50px;
	text-align: right;
}

#ajout
{
	display: block;
}