extends layout

block deco
	link(rel='stylesheet', href='/stylesheets/ajouterQuestion.css')

block js

block content
	h1 Ajout de question
	form(method='POST', action="#{url}/ajouterQuestion")
		#jesaispasquelnomdonner
			h2#domaine Domaine
				br
				input(type='radio', name="HTML", value="HTML")
				label(for="HTML") HTML
				br
				input(type='radio', name="CSS", value="CSS")
				label(for="CSS") CSS
				br
				input(type='radio', name="JS", value="JS")
				label(for="JS") JS
			#Q
				label(for="question") Question
				input(type='text', name="question", id="question")
				br
		#reponses
			#rep1
				label(for="reponse1") Reponse 1:
				input(type='text', name="reponse1", id="reponse1")
				br
			#rep2
				label(for="reponse2") Reponse 2:
				input(type='text', name="reponse2", id="reponse2")
				br
			#rep3
				label(for="reponse3") Reponse 3:
				input(type='text', name="reponse3", id="reponse3")
				br
			#rep4
				label(for="reponse4") Reponse 4:
				input(type='text', name="reponse4", id="reponse4")
				br
			#bonneR
				label(for="bonneReponse") Bonne reponse
				input(name='number', type='number', min='1', max='4', value='1')
				br
		input.button#ajout(type='submit', value='Ajouter')