extends layout

block deco
	link(rel='stylesheet', href='/stylesheets/examenTermine.css')

block js
	script(type='text/javascript', charset='UTF-8', src='/javascripts/examTermine.js')

block content
	section
	h1 Examen Terminé!
	p#msg_results Vous avez terminé l'examen avec une note de
		i#noteExam .
	p Si vous n'êtes pas satisfait de vos connaissances, n'oubliez pas de vous pratiquer à l'aide des tests rapides.
	a.button(href='/tableauBord') Retour au menu
