extends layout

// ce fichier servira à la fois pour test rapide et exam

block deco
	link(rel='stylesheet', href='/stylesheets/question.css')
	
block js
	script(type='text/javascript', charset='UTF-8', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js')
	script(type='text/javascript', charset='UTF-8', src='/javascripts/gestion_questions.js')
	
block content
	section#principale(ng-app='Quiz')
		if (url == '/question')
			- var changement = {title:"Test rapide", retour:"Retour menu"}
		else
			- var changement = {title:"Examen officiel", retour:"Abandon examen"}
		h1#title
			= changement.title
		div(ng-controller='QuestionController')
			section#question
				fieldset
					h2 
						| Domaine : 
						span.domain {{question.domain}}
					p
						| Question : 
						span.text {{question.text}}
					form(method='POST')
						div(ng-repeat="possibleAnswer in question.answers")
							input(type='radio', name="reponse", value="{{$index}}", ng-model='answer.index')
							label(for="{{$index}}") {{possibleAnswer}}
						input.button#next(type='submit', ng-click='buttonAction()', value="{{buttonName}}")
						a#retour.button(href='/tableauBord')
							= changement.retour
					p
						| Answer: {{answer.index}}
			aside
				h2 Statistiques		
				p Note courante :
				p#noteCourante
					|{{stat.repJusteCourante}}/{{stat.repTotalCourante}}
