extends layout

// ce fichier servira à la fois pour test rapide et exam

block deco
	link(rel='stylesheet', href='/stylesheets/question.css')
	
block js
	
block content
	section#principale
	if (url == '/question')
		- var changement = {title:"Test rapide", retour:"Retour menu"}
	else
		- var changement = {title:"Examen officiel", retour:"Abandon examen"}
	h1#title
		= changement.title
	section#question
		fieldset
			h2 
				| Domaine :
				span#domain
			p
				i Question : 
				span#question_text
			input(type='radio', name='reponse', value='1')
			label(for='1')
			br
			input(type='radio', name='reponse', value='2')
			label(for='2')
			br
			input(type='radio', name='reponse', value='3')
			label(for='3')
			br
			input(type='radio', name='reponse', value='4')
			label(for='4')
			br
		a#retour.button(href='/tableauBord')
			= changement.retour
		a#next.button Corriger
	aside
		h2 Statistiques
		p Note courante :
		p#noteCourante