extends layout

// ce fichier servira à la fois pour test rapide et exam
// mettre Test rapide ou examen en javascript
// mettre retour menu en javascript ou abandon exam

block deco
	link(rel='stylesheet', href='/stylesheets/question.css')
	
block content
	section#principale
	h1#title
	section#question
		fieldset
			h2 
				| Domaine :
				span#domain
			p
				i Question : 
				span#question_text
			input(type='radio', name='reponse', value='1')
			label(for='1')
			br
			input(type='radio', name='reponse', value='2')
			label(for='2')
			br
			input(type='radio', name='reponse', value='3')
			label(for='3')
			br
			input(type='radio', name='reponse', value='4')
			label(for='4')
			br
		a#retour.button(href='/tableauBord') 
		a#next.button Corriger
	aside
		h2 Statistiques
		p Note courante :
		p#noteCourante